streamlit
supabase
yt-dlp
pandas
beautifulsoup4
altair
openai
keybert
sentence-transformers
spacy
https://github.com/explosion/spacy-models/releases/download/ko_core_news_sm-3.7.0/ko_core_news_sm-3.7.0-py3-none-any.whl
